*, *::before, *::after {
  box-sizing: border-box; /* Ensures padding and borders are included in element's total width/height */
  margin: 0;             /* Removes default margins from all elements */
  padding: 0;            /* Removes default padding from all elements */
}

@font-face {
  font-family: tran;
  src: url(transfrm.woff);
}

body{
  padding: 20px;
  background: #c5c2c8ff;
  
}

.guts{
  padding:1vw;
  align-content: center;
  align-items: center;
}

.container{
  height: 95vh;
  max-width:95%;
  /* max-height:80%; */

  margin:0 auto;
  background:white;
  padding:20px;
  border-radius:8px;

}

.hero-img{
  width:100%;
  height:auto;
  border-style:inset;
  border-width:medium;
  border-color:#c5c2c8ff;
  border-radius:10px;
  transition-duration: 0.4s;
}

h1{
  font-family: Helvetica;
  /* letter-spacing: 2px; */
  font-size:5vw;  
  padding:1px;
  text-align:center;
  transition-duration: 0.4s;
  margin-top: 5%;
}

.caption{
  font-family: Helvetica;
  width:50vw;
  margin: auto;
  font-size:4vw; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  padding:.5vw;
  margin-top: 5%;
  margin-bottom: 5%;
}
.captiontwo{
  display:none;
  margin: auto;
  font-family: Helvetica;
  width:50vw;
  justify-content: center;
  align-items: center;
  text-align:center;
  font-size:4vw; 
  padding:.5vw;
  margin-top: 5%;
  margin-bottom: 5%;
}


p{
  font-size:4vw;  
}

.blocky{
  text-align:center;
  padding: 15px 0;
  background-color: #2872d4ff;
  color: #b30000ff;
}
.topup{
  font-family: tran;
  letter-spacing: 2px;
  margin-top: 0%;
  font-size:7vw; 
  color:#b30000ff;
  /* -webkit-text-fill-color: #b30000ff; */
  -webkit-text-stroke: .2vw white;
  /* -moz-text-fill-color: #b30000ff; */
}


.answer-one{
  display:none;
  color:blue;
  border-color:red;
  font-size:5vw; 
  border-width: medium;
    padding:1vw;
  margin-left: auto;
  margin-right: auto;
}

.answer-two{
  display:none;
  color:blue;
  border-color:red;
  font-size:5vw; 
  border-width: medium;
  padding:1vw;
  margin-left: auto;
  margin-right: auto;
}

.button-one{
  display:flex;
   color:white;
  background-color:#580babff;
  border-color:#c5c2c8;
  font-size:5vw; 
  margin-left: auto;
  margin-right: auto;
  /* margin-top:.5vw; */
  padding:2vw;
  padding-left: 7%;
  padding-right: 7%;
  border-radius:10px;
  border-style:inset;
  border-width:medium;
  transition-duration: 0.4s;
  margin-top: 5%;
  margin-bottom: 5%;
}


.button-one:hover {
  background-color: white; 
  color: #580babff;
  border-color:#2c2b2c;
}


.button-two{
  display:none;
  color:white;
  background-color:#580babff;
  border-color:#c5c2c8;
  font-size:5vw; 
  margin-left: auto;
  margin-right: auto;
  /* margin-top:.5vw; */
  padding:2vw;
  padding-left: 7%;
  padding-right: 7%;
  border-radius:10px;
  border-style:inset;
  border-width:medium;
  margin-top: 5%;
  margin-bottom: 5%;
}

.button-two:hover {
  background-color: white; 
  color: #580babff;
  border-color:#2c2b2c;
  transition-duration: 0.4s;
}

.message {
  /* margin: 1vw; */
  text-align: center;
  font-family: tran;
  font-size:5vw;
  transition-duration: 0.4s;
  text-decoration: underline overline;
  margin-top: 5%;
  margin-bottom: 5%;
}

.description {
  margin: 1vw;
  text-align: center;
  font-family: Helvetica;
  font-size:3.5vw;
  transition-duration: 0.4s;
}

@media screen and (min-width: 400px) {
  body {
    flex-direction:column;
  }


  .message {
  margin: 2vw;
  text-align: center;
  font-family: tran;
  letter-spacing: 10px;
  font-size:4vw;
}

.description {
  margin: 2vw;
  text-align: center;
  font-family: Helvetica;
  font-size:2vw;
}
  
  .button-one{
  padding: .2vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.button-two{
  padding: .2vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
  .innards {
    margin-top:2vw;
  }

}

@media screen and (min-width: 800px) {


  .innards {
    display: flex;
    /* justify-content:left; */
    justify-content: space-evenly;
    align-items: center;
    margin-top:1vw;
  }

  
  .message {
  margin: 1vw;
  text-align: center;
  font-family: tran;
  letter-spacing: 5px;
  font-size:3vw;
}

.description {
  margin: 1vw;
  text-align: center;
  font-family: Helvetica;
  font-size:1.2vw;
  margin: auto;
  width:25vw;
}
  
  .hero-img{
  width:50%;
  height:auto;
  border-style:solid;
  border-width:medium;
  border-color:rgb(78, 77, 78);
  border-radius:10px;
}
  h1{
  font-size:2vw;  
}
  
.caption{
  font-size:1.3vw; 
  width:30vw;
  padding:.5vw;
  margin-top: 3%;
  margin-bottom: 3%;
}
.captiontwo{
  font-size:1.3vw; 
  width:30vw;
  text-align:center;
  margin: auto;
  padding:.5vw;
  margin-top: 3%;
  margin-bottom: 3%;
}
  .answer-one{
  font-size:2vw; 
}

.answer-two{
  font-size:2vw; 
}

  
  .button-one{
  font-size:1.5vw; 
  padding: .2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.button-two{
  font-size:1.5vw; 
  padding: .2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
  .message{
    font-size:2vw; 
    margin-top: 3%;
  margin-bottom: 3%;
  }

  .topup{

  letter-spacing: 3%;

}

}